.contactListItemBtn {
  margin-top: 16px;
  margin-bottom: 8px;
  background-color: rgba(229, 207, 247, 0.8);
  border: none;
  border-radius: 15px;
  color: #300447;
  flex-grow: 1;
  font-size: 15px;
  height: 36px;
  margin-left: 20px;
  margin-right: 6px;
  min-width: 50px;
  padding: 0 16px 0 16px;
  cursor: pointer;
}

.contactListItemBtn:hover,
.contactListItemBtn:focus,
.contactListItemBtn:active {
  background-color: #972c28;
  cursor: pointer;
  box-shadow: #972c28 0px 5px 15px;
}

.contactListItem {
  color: #0f4326;
  margin-top: auto;
  text-align: start;
}

.contactItemSvg {
  margin-right: 10px;
  text-align: center;
}
